<!-- partials/head.ejs -->
<!-- Etiqueta de apertura del head -->
<!-- views/partials/head.ejs -->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registro de Sesiones DLM</title>
  <link rel="stylesheet" href="/resources/css/style.css" />