<!-- partials/header.ejs -->
<!-- Aquí cerramos el head, abrimos el body y empezamos el encabezado -->
</head>
<!-- views/partials/header.ejs -->
<header>
  <h1>Registro de Sesiones DLM</h1>
</header>