<%- include('partials/head') %>
<body>
  <%- include('partials/header') %>

  <main class="container">
    <h2>Bienvenido <%= name %></h2>
    <p>Esta es la página principal.</p>
  </main>

  <%- include('partials/footer') %>
</body>